<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Roberto-Rooms.css">
    <title>Roberto-Rooms</title>
</head>
<body>
    <div class="container">
        <div class="column">
            <div class="col-1">
                <div class="content">
                    <div class="cont-1">Room-Image</div>
                    <div class="cont-2">Room-Details</div>
                </div>
                <div class="content">
                    <div class="cont-1">Room-Image</div>
                    <div class="cont-2">Room-Details</div>
                </div>
                <div class="content">
                    <div class="cont-1">Room-Image</div>
                    <div class="cont-2">Room-Details</div>
                </div>
                <div class="content">
                    <div class="cont-1">Room-Image</div>
                    <div class="cont-2">Room-Details</div>
                </div>
                
            </div>
            <div class="col-2">
                <div class="res-form">
                    <div class="date">Date</div>
                    <div class="guest">Guest</div>
                    <div class="slider">Range-Slider</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>